include ../partials/header
include ../mixins/credit
doctype html
html
    head
        +head(blog.title)
        script(src="/js/post-comment.js")
    body
        +menu
        .container
            .row.row-centered
                +flashMessage
                .col-md-10.col-centered
                    .thumbnail
                        img.img-responsive(src=blog.image style="max-height: 60vh; width: 100%")
                        .caption-full
                            .pull-right 
                                h5= blog.created.toLocaleDateString("en-US", {year: 'numeric', month: 'long', day: 'numeric'}) 
                    .blog-heading
                        p(style="color: lightslategrey; padding: 20")= blog.title
                    div(style="text-align: left; padding-bottom: 10px;")
                        if(currentUser && blog.author.id.equals(currentUser._id))
                            a(href=blog._id + "/edit")
                                button.btn.btn-xs.btn-success 
                                    i.fas.fa-edit
                                    |  Edit
                            form(action="/blogs/" + blog._id + "?_method=DELETE" method="POST" style="display: inline")
                                button.btn.btn-xs.btn-danger 
                                    i.fas.fa-trash-alt
                                    |  Delete
                    -var body = blog.blog.replace(/(?:\r\n|\r|\n)/g, '<br/>')
                    p.blog-body !{body}
                    +abAuthor
                    .well
                        if(currentUser)
                            .form-group
                                textarea.form-control#text(style="width: 100%" name="comment[text]" rows="5" placeholder="Write a comment")
                            .form-group 
                                input.form-control#author(style="width: 50%" type="hidden" name="comment[author]" value=currentUser.username)
                            .form-group
                                button.btn.btn-primary#post-comment(data-blog-id=blog._id) Post
                        else
                            p(style="text-align: center") 
                                a(href="/login?ref=" + blog._id) Login
                                |  to comment
                    if(blog.comments.length)
                        h2.page-header Comments
                    section.comment-list#list
                        -var i = 0
                        for comment in blog.comments
                            article.row
                                .col-md-2.col-sm-2.hidden-xs
                                    .thumbnail
                                        img.img-responsive(src="https://cdn2.iconfinder.com/data/icons/rcons-user/32/male-circle-512.png")
                                        figcaption(style="text-align: center")= comment.author.username
                                .col-md-10.col-sm-10
                                    .panel.panel-default.arrow.left
                                        .panel-body
                                            .comment-post
                                                p= comment.text
                                    if(currentUser && comment.author.id.equals(currentUser._id))
                                        a(href="/blogs/" + blog._id + "/comment/" + comment._id + "/edit")
                                            button.btn.btn-xs.btn-success 
                                                i.fas.fa-edit
                                        form(action="/blogs/" + blog._id + "/comment/" + comment._id + "?_method=DELETE" method="POST" style="display: inline")    
                                            button.btn.btn-xs.btn-danger
                                                i.fas.fa-trash-alt
                            -i++
                            if(i !== blog.comments.length) 
                                hr